.profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


.card-container-box {
    background-color: rgb(255, 255, 255);
    padding: 40px 20px;
    width: 420px;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 32px;
}

.profile-box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #b9b9b9;
}

.profile-box .edit-profile {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 150px;
    height: 150px;
    clip-path: circle(48% at 50% 0);
    top: 74px;
    display: flex;
    flex-direction: column;
}

.profile-box .edit-profile span {
    position: absolute;
    left: 45%;
    top: 25%;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.profile-box .edit-profile span:first-child {
    top: 12%;
    left: 48%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.name-create {
    display: flex;
    gap: 15px;
}

.name-create .name-box {
    flex: 1;
}

.name-create .create-box {
    flex: 1;
}

.box {
    font-size: 16px;
    color: #b9b9b9;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-bottom: 1px solid #b9b9b9;
}

.labeled-text {
    font-size: 14px;
    font-family: sans-serif;
    padding: 6px;
    color: #323232;
    margin-top: 10px;
}

.button-box {
    display: flex;
    gap: 15px;
}

.button-box .myorder {
    flex: 1;
}

.button-box .change-pass {
    flex: 1;
}

.button-box .btn {
    padding: 12px 10px;
    border: none;
    outline: none;
    /* border:  1px solid #b9b9b9; */
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 16px;
    background-color: #240750;
    color: white;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}