.footer {
    color: #d9d9d9;
    /* background-color: #323232; */
    background-color: #240750;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    font-size: max(1.4rem, 12px);
    letter-spacing: 1px;
    margin-top: 100px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left,
.footer-content-right,
.footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
 
.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: max(1.5rem, 12px);
}

.footer-content-right h2,
.footer-content-center h2 {
    color: #fff;
}

.footer-social-icon  {
    font-size: 28px;
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.footer .divider {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
@media (max-width:750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
    .footer{
        padding: 20px 5vw;
    }
}