.hero-container{
    width: 100%;
    /* background-color: #240750; */
    background-color: #0fb0c1;
    height: 100vh;
    font-family: sans-serif;
    color: #fff;
}

.hero-container .container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}
.hero-container .container .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero-container .container .content p{
    font-size:clamp(1.5rem, 5vw, 3rem);
    font-weight: 600;
}

.hero-container .container .content h1{
    font-size:clamp(3rem, 5vw, 5rem);
    font-weight: 600;
    line-height: 1.5;
}

.hero-container .container .content a button{
    outline: none;
    border: none;
    background: transparent;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 6px;
    padding:8px 12px;
    transition:all 0.5s ease;
    font-family: monospace;
}

.hero-container .container .content a button:hover{
    transform: translateY(4px);
}

.hero-container .container::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #F8F4E1;
    position: absolute;
    top: 0;
    left: 0;
    /* clip-path: polygon(100% 70%, 0% 100%, 100% 100%);
    clip-path: polygon(0 70%, 0% 100%, 100% 100%); */
    clip-path: polygon(50% 80%, 50% 80%, 100% 100%, 0% 100%);
    max-width: 100%;
}




